.styledcal .rmdp-day span {
  border-radius: 8px !important;
  /* background-color: transparent !important;  */
  /* bottom: auto !important; */
  text-align: end !important;

  font-weight: bold;
    width: 100%;
    height: 100%;
    top: 0 !important;

    right: 0 !important;
}
.styledcal .rmdp-day {
  border: 0.1px solid gainsboro;
  margin: 1.5px;
  border-radius: 8px !important;
  padding: 2vw 2.75vw !important;
  background-color: #f4f6f8 !important;
  color: black !important;
}

.styledcal .rmdp-day.rmdp-selected span:not(.highlight) {
  border-radius: 8px !important;
  color: black;
  
  box-shadow: 0 0 0px #8798ad !important;
}
.styledcal .rmdp-day.rmdp-selected {
  border-radius: 8px !important;
  color: black;
  box-shadow: 0 0 3px #8798ad !important;
}

.styledcal .rmdp-day:hover {
  background-color: rgb(221, 217, 217) !important;
  color: black !important;
  border-radius: 8px !important;
}
.styledcal .rmdp-week {
  display: grid !important;
  justify-content: space-between !important;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.styledcal .rmdp-week-day {
  width: auto !important;
  margin: 1.5px;
  border: 0.1px gainsboro solid;
  border-radius: 8px;
}
