/* استایل‌های خاص برای تبدیل روزها به مستطیل */
.rmdp-day span {
  border-radius: 8px !important; /* حذف دایره و تبدیل به مستطیل */
  background-color: transparent !important; /* پس‌زمینه شفاف */
  color: rgb(53, 53, 53) !important; /* رنگ متن روز */
  bottom: auto !important;
  text-align: end !important;
}
.rmdp-day {
  border: 0.1px solid gainsboro;
  margin: 1.5px;
  border-radius: 8px !important; /* حذف دایره و تبدیل به مستطیل */
  padding: 2vw 2.75vw !important; /* تنظیم فاصله درون سلول */
  background-color: #f4f6f8 !important; /* پس‌زمینه شفاف */
  color: black !important; /* رنگ متن روز */
}

/* برای روزهای انتخاب‌شده */
.rmdp-day.rmdp-selected span:not(.highlight) {
  border-radius: 8px !important; /* اطمینان از مستطیل بودن */
  color: black;
  box-shadow: 0 0 0px #8798ad !important;
}
.rmdp-day.rmdp-selected {
  border-radius: 8px !important; /* اطمینان از مستطیل بودن */
  color: black;
  box-shadow: 0 0 3px #8798ad !important;
}

/* برای روزهایی که هاور می‌شوند */
.rmdp-day:hover {
  background-color: rgb(
    221,
    217,
    217
  ) !important; /* رنگ پس‌زمینه در حالت هاور */
  color: black !important; /* رنگ متن */
  border-radius: 8px !important; /* اطمینان از مستطیل بودن */
}
.rmdp-week {
  display: grid !important;
  justify-content: space-between !important;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.rmdp-week-day {
  width: auto !important;
  margin: 1.5px;
  border: 0.1px gainsboro solid;
  border-radius: 8px;
}
